.nav{
    width: 97.9%;
    height: 40px;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: white;
    background-color: black;
    border-bottom: 1px solid goldenrod;
    font-family: 'Open Sans', sans-serif;
    a { 
        color: inherit; 
        text-decoration: none;
    } 
}

.holay-logo{
    max-height: 32px;
}


.pack-count-dropdown{
    border-radius: 20%;
    margin: 0 10px;
}

.controls-container{
    display: flex;
    justify-content: space-between;
}

.toggle-label{
    margin-right: 50px;
}

.made-by-me{
    position: relative;
    left: 230px;
}

