.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.App-logo {
  height: 15vmin;
  margin: 3% 0;
}

html {
  height: 100%
}
.cover-image{
  background-position: top ;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0a0b0e;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 600px;
  align-items: center;
  border-bottom: 1px solid goldenrod;
  justify-self: start;
    text-shadow: 2px 3px 30px black, 2px 3px 30px black, 2px 3px 30px black, 2px 3px 30px black;

}


.header-text{
    color: #ffffff;
    letter-spacing: .1em;
    font-family: 'Open Sans', sans-serif;

}
.App-header {
  background-color: #0a0b0e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.tabletop-link{
  text-decoration: none;
  color: inherit; 
  font-weight: 700;
}

.showcase-intro{
  margin-top: 30px;
  width: 61%;
  color: beige;
  font-size: 12px;
  text-align: left;
}

.download-button{
  display: inline;
  position: relative;
  top: 22px;
  left: 10px;
}
.controls {
  display: flex;
}
